node_modules/**
!node_modules/js-yaml/**
.vscode/**
.vscode-test/**
src/**
out/test/**
**/*.map
**/.DS_Store
**/*.ts
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.*
**/eslint.config.*
.prettierrc
.husky/**
.env
.kaggle-*
remote_notebooks/**
test-notebook.ipynb
*.log